/* ROOT */

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
    font-family: 'Libre Franklin', serif;
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* HEADER */

header {
    margin: 50px 0 40px;
}

h2.heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
}

.period {
    color: hsl(223, 87%, 63%);
}


/* MAIN */

main h1 {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    font-size: 1.8em;
}

main .exclaim {
    color: black;
    font-weight: 600;
}

h4 {
    font-weight: 300;
    font-size: .9em;
    margin: 15px 0;
}

img {
    width: 490px;
    height: auto;
    margin: 30px;
}

/* INPUT */

.input {
    margin: 25px;
}

input[type=email] {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    border: solid 1px hsl(0, 0%, 80%);
    padding: 13px 30px;
    width: 270px;
    outline: none;
    background-color: white;
}

.invalid {
    border: solid 1px hsl(354, 100%, 66%) !important;
}

#invalid-prompt {
    color: hsl(354, 100%, 66%);
    font-size: .5em;
    margin: 10px 0;
    font-style: italic;
}

#btn {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: hsl(223, 87%, 63%);
    color: white;
    letter-spacing: .05em;
    padding: 13px 30px;
    margin-left: 15px;
    border-style: none;
    -webkit-border-style: none;
    box-shadow: 0 3px 10px hsl(223, 100%, 88%);
    -webkit-box-shadow: 0 3px 10px hsl(223, 100%, 88%);
    transition: linear 200ms;
    cursor: pointer;
    outline: none;
}

#btn:hover {
    background-color: white;
    color: hsl(223, 87%, 63%);
}

#btn:active {
    border: none;
}

::placeholder {
    color: hsl(0, 0%, 80%);
}


/* FOOTER */

footer {
    margin-bottom: 40px;
}

.icons {
    margin: 40px;
}

.github,
.instagram,
.twitter {
    color: hsl(223, 87%, 63%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 100%;
    margin: 10px;
    transition: linear 500ms;
    cursor: pointer;
}

.github {
    padding: 11px 10px;
}

.twitter {
    padding: 10px 12px;
}

.instagram {
    padding: 10px 13px;     
}

.github:hover,
.twitter:hover,
.instagram:hover {
    color: white;
    background-color: hsl(223, 87%, 63%);
    border: 1px solid hsl(223, 87%, 63%);
}

small {
    color: hsl(0, 0%, 70%);
    font-weight: 300;
    font-size: .75em;
}

/* BOTTOM */



/* MEDIA QUERIES */

@media only screen and (max-width: 550px) {
    /* ROOT */
    * {
        margin: 0;
    }

    /* HEADER */
    h2.heading {
        font-size: 1.5em;
    }

    /* MAIN */

    main h1 {
        color: hsl(0, 0%, 59%);
        font-weight: 300;
        font-size: 1.4em;
    }

    h4 {
        margin-bottom: 40px;
    }

    img {
        width: 350px;
    }

    input[type=email] {
        margin-bottom: 15px;
        width:250px;
    }

    #btn {
        width: 310px;
        letter-spacing: .1em;
        margin-left: 0;
    }

    /* ICONS */

}
